// Colors
$black: #000000;
$red: #d0011b;
$green: #65c100;
$silver1: #eee;
$silver2: #f9f9fb;

//Fonts
$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$bold-font: 'Ubuntu', sans-serif;

//Heights
$input-height: 65px;
